version: "3.4"

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

services:
    keycloak:
        image: jboss/keycloak:{{ keycloak_version }}
        restart: always
        env_file:
            - keycloak.env
        networks:
            - web
            - dbnet
        expose:
            - 8080
        labels:
            - "traefik.backend={{ keycloak_name }}-keycloak"
            - "traefik.docker.network=web"
            - "traefik.frontend.rule=Host:{{ keycloak_domain }}"
            - "traefik.enable=true"
            - "traefik.port=8080"
        logging: *default-logging

    db:
        image: postgres:{{ pg_version }}-alpine
        restart: always
        networks:
            - dbnet
        env_file:
            - db.env
        expose:
            - 5432
        volumes:
            - db:/var/lib/postgresql/data
            - ./db/backup:/docker-entrypoint-initdb.d/
        logging: *default-logging

networks:
    web:
        external: true
    dbnet:

volumes:
    db:
