#!/bin/bash

cd "$(dirname "$0")"
echo "start backup keycloak {{ keycloak_name }}"
COMPOSE_INTERACTIVE_NO_CLI=1
if [ -z `/usr/local/bin/docker-compose ps -q db` ] || [ -z `/usr/bin/docker ps -q --no-trunc | grep $(/usr/local/bin/docker-compose ps -q db)` ]; then
	echo "Database is not running. Backup keycloak {{ keycloak_name }} aborted"
else
    /usr/local/bin/docker-compose exec -T db pg_dump -U {{ pg_keycloak_user }} {{ pg_keycloak_dbname }} > {{ pg_keycloak_backupfile }}
    echo "backup keycloak {{ keycloak_name }} done"
fi